name: Publish to PyPI

on:
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0.1

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.11' # Change to your preferred version

      - name: Install dependencies
        run: pdm install --check

      - name: Build package
        run: pdm build

      - name: Publish to PyPI
        run: pdm publish --token ${{ secrets.PYPI_API_TOKEN }} --no-build
